<template>

    <div id="borrower-app-account">

        <p>Tell us about your work.</p>

        <div class="row">
            <div class="columns medium-5">
                <div class="row collapse">
                    <dropdown-menu
                        v-ref:employment
                        id="employment"
                        label="Employment Status"
                        :options="employment_types"
                        error="Please indicate your employment status."></dropdown-menu>
                </div>
            </div>
            <div class="columns medium-7 end" v-if="showEmploymentFields()" transition="fade">
                <text-input
                    v-ref:employer
                    id="employer_name"
                    label="Employer Name"
                    dummy="CircleBack Lending, Inc."></text-input>
            </div>
        </div><!-- .row -->

        <div class="row" v-if="showEmploymentFields()" transition="fade">
            <div class="columns medium-6 medium-offset-5 end">
                <text-input
                    v-ref:position
                    id="position"
                    label="Position"
                    dummy="Loan Analyst"></text-input>
            </div>
            
            <div class="columns medium-7 medium-offset-5 end">
                <div class="row">
                    <div class="columns small-6 medium-4">
                        <div class="row collapse">
                            <dropdown-menu
                                v-ref:startmonth
                                id="start_month"
                                label="Start Month"
                                :options="months"
                                error="Select a month."></dropdown-menu>
                        </div>
                    </div>
                    <div class="columns small-6 medium-3 end">
                        <div class="row collapse">
                            <dropdown-menu
                                v-ref:startyear
                                id="start_year"
                                label="Start Year"
                                :options="years"
                                error="Select a year."></dropdown-menu>
                        </div>
                    </div>
                </div><!-- .row -->
            </div>
            
            <div class="columns medium-7 medium-offset-5">
                <div class="row">
                    <div class="columns small-9 medium-5">
                        <text-input
                            v-ref:officephone
                            id="office_phone"
                            label="Office Phone"
                            dummy="561-555-3952"></text-input>
                    </div>
                    <div class="columns small-3 medium-3 end">
                        <text-input
                            v-ref:officephoneext
                            id="office_phone_ext"
                            label="Ext."
                            dummy="601"></text-input>
                    </div>
                </div><!-- .row -->
            </div>
            
            <div class="columns medium-6 medium-offset-5 end">
                <text-input
                    v-ref:website
                    id="website"
                    label="Website"
                    dummy="www.circlebacklending.com"></text-input>
            </div>
            
            <div class="columns medium-7 medium-offset-5 end">
                <text-input
                    v-ref:officestreet
                    id="office_street_address"
                    label="Office Street Address"
                    dummy="500 Main St."
                    error="Please enter a valid address."></text-input>
            </div>
            
            <div class="columns medium-6 medium-offset-5 end">
                <div class="row">
                    <div class="columns medium-8 small-6">
                        <text-input
                            v-ref:officecity
                            id="office_city"
                            label="Office City"
                            dummy="Boca Raton"></text-input>
                    </div>
            
                    <div class="columns medium-4 small-6">
                        <dropdown-menu
                            v-ref:officestate
                            label="Office State"
                            id="office_state"
                            error="Please select a state."
                            :options="states"></dropdown-menu>
                    </div>
                </div>
            </div>
            
            <div class="columns medium-3 medium-offset-5 end">
                <text-input
                    v-ref:officezip
                    id="office_zip"
                    label="Zip Code"
                    dummy="33444"></text-input>
            </div>
        </div>

        
        <div class="clearfix buffer"></div>

        <input type="submit" value="Continue" class="button right radius" @click="loadNextForm" />
    </div>
</template>

<script>
export default {
    name: 'Employment',

    data () {
        return {
            selected_option: '',
            employment_types: [
                { key: 'employed', value: 'Employed' },
                { key: 'self_employed', value: 'Self-Employed' },
                { key: 'not_employed', value: 'Not Employed' },
                { key: 'retired', value: 'Retired' },
                { key: 'other', value: 'Other' },
            ],
            months: this.$root.months,
            years: this.$root.years,
            states: this.$root.us_states
        }
    },

    methods: {
        isValid: function() {
            $('.has-error').removeClass('has-error');

            var employment = this.$refs.employment;
            var employer = this.$refs.employer;
            var position = this.$refs.position;
            var startmonth = this.$refs.startmonth;
            var startyear = this.$refs.startyear;
            var officephone = this.$refs.officephone;
            var officestreet = this.$refs.officestreet;
            var officecity = this.$refs.officecity;
            var officestate = this.$refs.officestate;
            var officezip = this.$refs.officezip;

            // Not required?
            // var officephoneext = this.$refs.officephoneext;
            // var website = this.$refs.website;

            
            var required = 10;

            if (!employment.$data.current_value.length) {
                $(employment.$el).addClass('has-error');
            } else {
                required--;
            }

            if (!employer.$data.current_value.length) {
                $(employer.$el).addClass('has-error');
            } else {
                required--;
            }

            if (!position.$data.current_value.length) {
                $(position.$el).addClass('has-error');
            } else {
                required--;
            }

            if (!startmonth.$data.current_value > 0) {
                $(startmonth.$el).addClass('has-error');
            } else {
                required--;
            }

            if (!startyear.$data.current_value > 0) {
                $(startyear.$el).addClass('has-error');
            } else {
                required--;
            }

            if (!officephone.$data.current_value.length) {
                $(officephone.$el).addClass('has-error');
            } else {
                required--;
            }

            if (!officestreet.$data.current_value.length) {
                $(officestreet.$el).addClass('has-error');
            } else {
                required--;
            }

            if (!officecity.$data.current_value.length) {
                $(officecity.$el).addClass('has-error');
            } else {
                required--;
            }

            if (!officestate.$data.current_value.length) {
                $(officestate.$el).addClass('has-error');
            } else {
                required--;
            }

            if (!officezip.$data.current_value > 0) {
                $(officezip.$el).addClass('has-error');
            } else {
                required--;
            }

            if (required === 0) {
                return true;
            }

            return false;
        },

        loadNextForm: function(e) {
            e.preventDefault();

            if (this.isValid()) {
                return true;
            }

            return false;
        },

        showEmploymentFields: function() {
            return (this.selected_option === 'employed') || (this.selected_option === 'self_employed');
        }
    },

    events: {
        value_changed: function(field) {
            if (field.id === 'employment') {
                this.selected_option = field.value;
            }
        }
    }
}
</script>





