<template>

    <div id="borrower-app-housing">

        <p>Tell us about where you live.</p>

        <div class="row">
            <div class="columns medium-5">
                <div class="row collapse">
                    <dropdown-menu
                        v-ref:housing
                        id="housing"
                        label="Housing"
                        :options="options"></dropdown-menu>
                </div>
            </div>

            <div class="columns medium-4 end" v-if="showPaymentField()" transition="fade">
                <text-input
                    v-ref:payment
                    type="money"
                    id="monthly_payment"
                    label="Monthly Payment"
                    dummy="$1,250"
                    error="Please enter a valid amount.">
                </text-input>
            </div>
            
        </div>

        <input type="button" value="Continue" class="button right" @click="loadNextForm" />

    </div>
    
</template>

<script>
export default {
    name: 'Housing',

    data () {
        return {
            selected_option: '',
            options: [
                { key: 'mortgage', value: 'Mortgage' },
                { key: 'rent', value: 'Rent' },
                { key: 'other', value: 'Other' },
            ]
        }
    },

    events: {
        value_changed: function(field) {
            if (field.id === 'housing') {
                this.selected_option = field.value;
            }
        }
    },

    methods: {
        isValid: function() {
            $('.has-error').removeClass('has-error');

            var housing = this.$refs.housing;
            var payment = this.$refs.payment;

            if (!housing.$data.current_value.length) {
                $(housing.$el).addClass('has-error');

                return false;
            } else {
                if (housing.$data.current_value !== 'other'
                    && (!payment.$data.current_value.length || payment.$data.current_value == '$')) {

                    $(payment.$el).addClass('has-error');

                    return false;
                }
            }

            return true;
        },

        loadNextForm: function(event) {
            event.preventDefault();

            if (this.isValid()) {
                this.$parent.loadNextSection('c');
            }

            return false;
        },

        showPaymentField: function() {
            return (this.selected_option === 'rent') || (this.selected_option === 'mortgage')
        }
    }
}
</script>