<style lang="sass">
@import '../../../sass/settings';
</style>

<template>
	<form @submit="submitForm" novalidate>
		<input type="hidden" name="borrower_app_step" value="4" />

		<h3>Additional Details <a style="font-size: 9pt" @click="$parent.fillDummyData">(Fill form)</a></h3>

		<!-- Content loaded based on route defined in main.js -->
		<router-view transition="fade" transition-mode="out-in" keep-alive></router-view>
	</form>
</template>

<script>
export default {
	name: 'Step3',

	methods: {
		loadNextSection: function(part) {
			var component = this;

			component.$root.showSpinner();

			setTimeout(function() {
				component.$root.hideSpinner();
				router.go('/borrow/step-3/' + part);
			}, 900);
		},
		submitForm: function(event) {
			event.preventDefault();
			var component = this;

	  		// Show loading spinner
	  		component.$root.showSpinner();

	  		// If valid: simulate response time and load borrower app
	  		setTimeout(function() {

		  		// Load next step
	  			component.$dispatch('continue-to-next-step');

	  			// Hide loading spinner
		  		component.$root.hideSpinner();

	  		}, 1500);

			return false;
		}
	},

	ready: function() {
		
		// Store cookie
		var expiry = new Date();
 		var minutes = 10;
		expiry.setTime(expiry.getTime() + (minutes * 60 * 1000));

		jQuery.removeCookie('cbl_auth');
		jQuery.cookie('cbl_auth', '{ "authorized": ["/borrow/step-3", "/borrow/step-3/b", "/borrow/step-3/c"] }', { expires: expiry });

		this.$parent.current_step = 3;
	}
}
</script>
