<template>

    <div id="borrower-app-phone">

        <p>Please provide one or more phone numbers where we can reach you.</p>

        <div class="row">
            <div class="columns medium-4 small-6">
                <text-input
                    type="tel"
                    id="primary_phone"
                    label="Primary Phone"
                    dummy="561-555-5555"
                    error="Please enter a valid phone number."></text-input>
            </div>

            <div class="columns medium-4 small-6 end">
                <text-input
                    type="tel"
                    id="secondary_phone"
                    label="Secondary Phone"
                    dummy="561-555-5555"
                    error="Please enter a valid phone number."></text-input>
            </div>

            <div class="buffer clearfix"></div>

            <div class="columns medium-9 small-12 end">
                <small class="info">I authorize CircleBack Lending and its agents to contact me at any phone number I provide at any time (including cellular, wireless, or any technology I utilize), via a live operator, automatic telephone dialing systems (autodialer), pre-recorded/artificial voice messages, or text/SMS messages.</small>
            </div>
        </div><!-- .row -->

        <input type="button" value="Continue" class="button right" @click="loadNextForm" />

    </div>
    
</template>

<script>
export default {
    name: 'PhoneNumbers',
    
    methods: {
        isValid: function() {
            
            var primary = (this.$children[0]);

            var required = 1;

            if (!primary.$data.current_value.length) {
                $(primary.$el).addClass('has-error');
            } else {
                required--;
            }
            
            return true;
        },
        loadNextForm: function(event) {
            event.preventDefault();

            if (this.isValid()) {
                this.$parent.loadNextSection('b');
            }

            return false;
        }
    }
}
</script>