<template>
    <div class="homepage">
        <call-to-action></call-to-action>
        <testimonials></testimonials>
    </div>
</template>

<script>
import CallToAction from './CallToAction/Index';
import Testimonials from './Testimonials/Index';

export default {
    name: 'HomePage',
    components: {
        CallToAction,
        Testimonials
    }
}
</script>