@import 'src/sass/settings';
@import 'vendor/foundation/scss/normalize.scss';
@import 'vendor/foundation/scss/foundation.scss';
@import 'buttons';
@import 'forms';

@font-face {
	font-family: 'glyphicons halflings';
	src: url('fonts/glyphicons-halflings-regular.eot');
	src: url('fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
		 url('fonts/glyphicons-halflings-regular.woff2') format('woff2'),
		 url('fonts/glyphicons-halflings-regular.woff') format('woff'),
		 url('fonts/glyphicons-halflings-regular.ttf') format('truetype'),
		 url('fonts/glyphicons-halflings-regular.svg#glyphicons') format('svg');
}

body {
	background-color: $secondary-color;
	margin: 0;
}

a {
	text-decoration: underline;
	color: lighten($primary-color, 20%);
}

h1, h2, h3 {
	font-weight: bold;
}

.single-page {
	display: none;
    background-color: #FFF;
    padding: 10px 20px;
    border: 1px #DDD solid;
    box-shadow: 0 3px 3px #DDD;
}

.table-center {
	margin-left: auto;
	margin-right: auto;
}

small {

	&.info {
	    bottom: 16px;
	    position: relative;
	    color: $info-color;
	    font-size: 9.5pt;
	    display: block;
	    line-height: 1.25em;
	    margin: 0.5rem 0 0 20px;

	    &:before {
	    	content: "\e101";
		    position: absolute;
		    color: $info-color;
		    font: normal 16px/16px 'glyphicons halflings';
		    margin: 0 0 0 -20px;
	    }
	}
}


label {
	&.bigger {
		font-size: 0.9em;
	}

	&.with-arrow {
		&:after {
			content: '\e252';
			display: block;
			position: absolute;
			font: 13px/13px 'glyphicons halflings';
			right: 6%;
			top: 35%;
			color: #999;
		}

		&.selected:after {
			color: lighten($primary-color, 35%);
		}
	}

	@media #{$small-only} {
		&.inline {
			margin: 0;
		}
	}
}

#app .error {
	background-color: transparent;
	display: block;
	height: 0;
	overflow: hidden;
	margin-top: -17px;
	padding: 3px 6px;
	font: normal 300 11px/20px Arial;
	border-radius: 0 0 4px 4px;
	transition: height 250ms ease;
}

#app .has-error .error {
	background-color: #9e0d1d;
	display: block;
	height: 26px;
}

.buffer {
	padding: 10px 0;
	&.huge { padding: 80px 0; }
}

#how_much_placeholder {
	-webkit-touch-callout: none !important;
	@include button-style($secondary-color, false, false, $secondary-color);
}

.fade-transition {
	transition: opacity 250ms ease;
}

.fade-enter, .fade-leave {
	opacity: 0;
}

.has-error {
	animation: shake 0.7s cubic-bezier(.36,.07,.19,.97) both;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	perspective: 1000px;

	input, label.bigger {
		color: red;
	}
}

@keyframes shake {
	10%, 90% { transform: translate3d(-1px, 0, 0); }
	20%, 80% { transform: translate3d(2px, 0, 0); }
	30%, 50%, 70% { transform: translate3d(-4px, 0, 0); }
	40%, 60% { transform: translate3d(4px, 0, 0); }
}