.button-group,
.button-group.even-2,
.button-group.even-3,
.button-group.even-4,
.button-group.even-5,
.button-group.even-6 {
	$border-style: 1px #c2c2c2 solid;

	margin-bottom: 0.75em;
	border-top: $border-style;

	li {
		.button {
		    font-size: 12px;
		    border-bottom: $border-style;
		    border-left: $border-style;
		    border-right: 0px transparent solid;
		}

		&:first-of-type .button {
	    	border-left: $border-style;
	    }

	    &:last-of-type .button {
	    	border-right: $border-style;
	    }
	}

	&.toggle li {
		margin: 0;
		padding: 0;

		input[data-toggle] {
			display: none;

			&:checked + .button {
				background-color: $primary-color;
				color: #FFF;
				font-weight: bold;

				small {
					color: #FFF;
					font-weight: normal;
				}
			}
		}

		.button {
			margin: 0;
			padding: 1em 0;
		    font-weight: bold;
		    overflow: hidden;

		    small {
		    	font-weight: normal;
		    }

		    &:hover, &.hover {
		    	cursor: pointer;
		    	background-color: darken(#EEE, 15%);
		    }

		    &.selected { // same as &.toggle li &:checked + .button
		    	background-color: $primary-color;
				color: #FFF;
				font-weight: bold;

				small {
					color: #FFF;
					font-weight: normal;
				}
		    }

		    .button-group-small li & {
		    	font-size: 12px;
		    }

			small {
			    display: block;
			    color: #333;
			    font-size: 12px;
			    margin: 4px 0 0 0; 
			}
		}

		.button-select {
			@include opacity(0);
			margin: 0;
			padding: 0;
			max-width: 33%;
			z-index: 9;
			position: absolute;
			cursor: pointer;

			&:hover + .button {
			    background-color: #c8c8c8;

			    &.selected { background-color: $primary-color; }
			}
		}
	}

	@media #{$small-only} {
		margin: 0 0 1rem 0;

		&.toggle.what-is-it-for .button {
			min-height: 59px;
			padding: 1em;
		}
	}

} /* .button-group */