small {
	&.error {
		display: none;
	}

	&.info {
	    bottom: 16px;
	    position: relative;
	    color: $info-color;
	    font-size: 9.5pt;
	    display: block;
	    line-height: 1.25em;
	    margin: 0.5rem 0 0 20px;

	    &:before {
	    	content: "\e101";
		    position: absolute;
		    color: $info-color;
		    font: normal 16px/16px 'glyphicons halflings';
		    margin: 0 0 0 -20px;
	    }
	}
}


label {
	&.bigger {
		font-size: 0.95em;
	}

	&.with-arrow {
		&:after {
			content: '\e252';
			display: block;
			position: absolute;
			font: 13px/13px 'glyphicons halflings';
			right: 6%;
			top: 35%;
			color: #999;
		}

		&.selected:after {
			color: lighten($primary-color, 35%);
		}
	}

	@media #{$small-only} {
		&.inline {
			margin: 0;
		}
	}
}