<style lang="sass">
@import '../../../sass/settings';


.panel.panel-success {
	background-color: #def2de;
	border-color: darken(#def2de, 20%);
	width: 80%;
	margin: 0 auto;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
}


.rate-summary {
	margin: 20px auto;
	background-color: transparent;
	border: 1px rgba(0, 0, 0, .25) solid;
	border-radius: 20px 20px 20px 20px;

	tr, td {
		background-color: rgba(255, 255, 255, 0.15);;
		border: 0;
	}

	tr:nth-of-type(even) {
		background-color: rgba(255, 255, 255, 0.65);
	}
}

.rate-table {
	border: 1px #999 solid;
	border-collapse: inherit;

	.rate-tr {
		cursor: pointer;
		
		&:after {
		    content: "\e157";
		    position: absolute;
		    color: #999;
		    font: normal 14px/14px 'glyphicons halflings';
		    margin: 11px 0 0 -19px;
		}

		&:hover {
			background-color: #e0e0e0;
			color: #000;
		}

		&.selected, &.selected:hover {
			background-color: $primary-color;

			td {
				color: #FFF;
				font-weight: bold;
			}

			&:after {
			    content: "\e013";
			    position: absolute;
			    color: #FFF;
			    font: normal 11px/11px 'glyphicons halflings';
			    margin: 12px 0 0 -18px;
			}
		}
	}
}
</style>

<template>
	<form @submit="submitForm" novalidate>

		<h3>Choose Your Rate</h3>

		<input type="hidden" name="borrower_app_step" value="3" />

		<br />

		<div class="panel panel-success callout text-center">

			<h4><b>Congratulations!</b></h4>
			<h5>You qualify for a <b>{{ $root.borrow_purpose || '' 	}}</b> loan from CircleBack Lending.</h5>

			<table class="rate-summary" v-if="$parent.loan_options[0]">
				<tr>
					<td class="text-right">Loan Amount:</td>
					<td><b>${{ loan_amount | format_int }}</b></td>
				</tr>

				<tr>
					<td class="text-right">Interest Rate:</td>
					<td><b>{{ interest_rate }}%</b></td>
				</tr>

				<tr>
					<td class="text-right">APR:</td>
					<td><b>{{ apr }}%</b></td>
				</tr>

				<tr>
					<td class="text-right">Monthly payment:</td>
					<td><b>${{ monthly_payment | money }} ({{ term_length | format_int }} payments)</b></td>
				</tr>
			</table>

		</div>

		<br />

		<p class="text-center" v-if="$parent.loan_options[0]">You also qualify for these loan options:</p>

		<div class="row">
			<div class="columns large-6" v-for="options in $parent.loan_options[0]">

				<h4 class="text-center">{{ options.term }} Month Loan</h4>

				<table width="100%" class="rate-table" data-table-index="{{ $index }}">
					<thead>
						<tr>
							<th>Amount</th>
							<th>Rate</th>
							<th>APR</th>
							<th>Payments</th>
						</tr>
					</thead>

					<tbody>
						<tr class="rate-tr"
						    v-bind:class="{ 'selected': isSelectedRate(rate.loan_id) }"
						    v-for="rate in options.offers"
						    @click="selectRate"
						    data-loan-id="{{ rate.loan_id }}"
						    data-loan-index="{{ $index }}">

							<td>${{ rate.loan_amount | money }}</td>
							<td>{{ options.rate }}%</td>
							<td>{{ options.apr }}%</td>
							<td>${{ rate.monthly_payment | money }}</td>
						</tr>
					</tbody>
				</table>

			</div>
		</div><!-- .row -->

		<div class="clearfix buffer"></div>

		<input type="submit" value="Continue" class="button right radius" />
	</form>
</template>

<script>
export default {
	name: 'Step2',

	data () {
		return {
			selected_loan_id: 1,
			selected_table_index: 0,
			selected_loan_index: 0
		}
	},

	computed: {
		loan_amount: function() {
			if (this.$parent.loan_options.length) {
				return this.$parent.loan_options[0][this.selected_table_index].offers[this.selected_loan_index].loan_amount;
			}

			return 0;
		},
		interest_rate: function() {
			if (this.$parent.loan_options.length) {
				return this.$parent.loan_options[0][this.selected_table_index].rate;
			}

			return 0;
		},
		apr: function() {
			if (this.$parent.loan_options.length) {
				return this.$parent.loan_options[0][this.selected_table_index].apr;
			}

			return 0;
		},
		monthly_payment: function() {
			if (this.$parent.loan_options.length) {
				return this.$parent.loan_options[0][this.selected_table_index].offers[this.selected_loan_index].monthly_payment;
			}

			return 0;
		},
		term_length: function() {
			if (this.$parent.loan_options.length) {
				return this.$parent.loan_options[0][this.selected_table_index].term;
			}

			return 0;
		}
	},

	methods: {
		selectRate: function(event) {
			event.preventDefault();

			var tr = $(event.target).parents('tr').first();
			var table = tr.parents('table').first();

			this.selected_table_index = table.data('table-index') || 0;
			this.selected_loan_index = tr.data('loan-index') || 0;
			this.selected_loan_id = tr.data('loan-id') || 1;

			return false;
		},

		isSelectedRate: function(index) {
			return (index === this.selected_loan_id);
		},

		submitForm: function(event) {
			event.preventDefault();

			var form = $(event.target);
			var form_data = form.serialize();
			var component = this;

	  		// Show loading spinner
			this.$root.showSpinner();

	  		// If valid: simulate response time and load borrower app
	  		setTimeout(function() {

	  			// Hide loading spinner
				component.$root.hideSpinner();

		  		// Load next step
	  			component.$dispatch('continue-to-next-step');

	  		}, 1500);

			return false;
		}
	},

	ready: function() {
		this.$parent.current_step = 2;

		// Store cookie
		var expiry = new Date();
 		var minutes = 10;
		expiry.setTime(expiry.getTime() + (minutes * 60 * 1000));

		jQuery.removeCookie('cbl_auth');
		jQuery.cookie('cbl_auth', '{ "authorized": ["/borrow/step-2"] }', { expires: expiry });

		// If loan options are stored in memory
		if (this.$parent.loan_options.length) {

			jQuery.removeCookie('cbl_loan_options');
			jQuery.cookie('cbl_loan_options', JSON.stringify(this.$parent.loan_options), { expires: expiry });

		// If a "cbl_loan_options" cookie exists
		} else {

			if (jQuery.cookie('cbl_loan_options')) {
				var options = JSON.parse(jQuery.cookie('cbl_loan_options'));

				this.$parent.loan_options = options;

				console.info('Loan options loaded by cookie.');
			}

		}
	}
}
</script>










