<style lang="sass">
@import '../../../sass/settings';

#loan-terms-tila {
    p, div, td {
        font-size: 10pt;
    }

    .document {
        border: 1px #000 solid;
        margin: 10px;
    }

    .boxes {
        margin: 0.5rem;
        height: 160px;
    }

    .box {
        border: 2px #000 solid;
        border-right: 0;
        height: 160px;
        padding: 10px 5px;

        &.last {
            border-right: 2px #000 solid;
        }

        @media #{$medium-only} {
            border-right: 2px #000 solid;
            height: 130px;
        }

        @media #{$small-only} {
            border: 1px #000 solid;
            height: auto;

            &.last {
                border-right: 1px #000 solid;
            }
        }
    }
}
</style>

<template>
    <div id="loan-terms-tila">
        <form @submit="submitForm" novalidate>
            <input type="hidden" name="borrower_app_step" value="5" />

            <h3>Loan Terms</h3>

            <h4>FEDERAL TRUTH IN LENDING ACT ("TILA") DISCLOSURES</h4>

            <div class="row terms">
                <div class="columns small-12">
                    <p>These TILA Disclosures apply to Loans you agree to repay through remotely created checks we create and process through your bank account ("RCCs"). By electing to pay this way, you may pay $300.00 more over the life of the Loan than the amount you will pay if you elect to repay through automatic electronic funds transfers we initiate from your bank account ("Automatic EFTs"). <a href="#">Click here</a> for TILA Disclosures that apply if you authorize payments by Automatic EFTs.</p>
                </div>
            </div>

            <div class="row terms">
                <div class="columns small-12 end">
                    <b>Dated:</b> February 08, 2016     
                </div>

                <br />

                <div class="columns small-6 medium-5">
                    <b>Lender:</b>
                    <br />County Bank
                    <br />19927 Shuttle Road
                    <br />Rehoboth Beach, DE 19971
                </div>

                <div class="columns small-6 medium-5 end">
                    <b>Borrower:</b>
                    <br />BRADFREY ASHLEY
                    <br />1248 MARTIN AV
                    <br />SAN JOSE, AL 95126
                </div>

            </div><!-- .row -->

            <div class="clearfix buffer"></div>

            <div class="row">
                <div class="columns small-12">

                    <div class="row terms document">

                        <div class="boxes">
                            <div class="columns small-12 medium-6 large-3 box">
                                
                                <b>Annual Percentage Rate</b>
                                The cost of your credit as a yearly rate

                                <br />
                                <br />

                                14.66%

                            </div>
                            <div class="columns small-12 medium-6 large-3 box">
                                
                                <b>Finance Charge (e)</b>
                                The dollar amount the credit will cost you

                                <br />
                                <br />

                                $2,268.70

                            </div>
                            <div class="columns small-12 medium-6 large-3 box">
                                
                                <b>Amount Financed</b>
                                The amount of credit provided to you or on your behalf

                                <br />
                                <br />

                                $5,445.55

                            </div>
                            <div class="columns small-12 medium-6 large-3 box last">
                                
                                <b>Total of Payments (e)</b>
                                The amount you will have paid after you have made all payments as scheduled

                                <br />
                                <br />

                                $7,714.25

                            </div>
                        </div><!-- .boxes -->

                        <div class="clearfix buffer"></div>

                        <div class="columns small-12">
                            <p><b>Payment Schedule (e):</b> You must make 60 monthly payments of $128.57, commencing one month after your loan is funded. These payments include a $123.57 base monthly payment and a $5.00 Special Payment Fee, which we may collect separately or with the base monthly payment.</p>

                            <p><b>Late Charge:</b> If the full amount of any monthly payment is not made within fifteen (15) calendar days after its due date, we will charge a Late Charge of $15.00 or 5.00% of your scheduled monthly payment, whichever is greater.</p>

                            <p><b>Prepayment:</b> If you pay the Loan off early, you will not have to pay a penalty but you will not be entitled to a refund of your prepaid finance charge.</p>

                            <p>See the information below and your Promissory Note for additional information about nonpayment, default, and any required repayment in full before the scheduled date.</p>

                            <p>(e) means estimated.</p>
                        </div>
                    </div><!-- .row.document -->

                </div>
            </div><!-- .row -->

            <br />

            <h4 class="text-center">Itemization of Amount Financed/Additional Information</h4>

            <table border="1" class="table-center">
                <tr>
                    <td>Principal Amount of Loan:</td>
                    <td class="text-right">$5,500.00</td>
                </tr>
                <tr>
                    <td>Loan Origination Fee/Prepaid Finance Charge:</td>
                    <td class="text-right">$54.45</td>
                </tr>
                <tr>
                    <td>Amount Financed Paid to You:</td>
                    <td class="text-right">$5,445.55</td>
                </tr>
            </table>

            <p><b>Loan funding is subject to verification of information provided in your application, including your email address and bank account, and to matching your Loan with a purchase commitment from an institutional investor.</b> Interest starts accruing the first business day after we initiate transfer of the Loan proceeds to your bank account. The interest rate and APR on the Loan will not change after Loan funding.</p>

            <p>In addition to late charges, <b>we charge $5.00 for any payment you do not make by Automatic EFT</b>. Also, we will charge you a Dishonored Payment Fee of $15.00 each time any payment we initiate or you make in connection with the Loan is returned unpaid (up to two fees for a payment that is dishonored more than once).</p>

            <p>CBv20150920</p>

            <hr />

            <br />

            <div class="row">
                <div class="columns small-1 text-right">
                    <input type="checkbox" />
                </div>
                <div class="columns small-11 medium-8 end">
                    I agree to the <a>Applicant Agreement &amp; Promissory Note</a> and also agree to make payments by EFTs. <b>This choice can save you $300.00 over the life of the Loan compared to payments by RCCs.</b>
                </div>
            </div>

            <br />

            <div class="row">
                <div class="columns small-1 text-right">
                    <input type="checkbox" />
                </div>
                <div class="columns small-11 medium-8 end">
                    I acknowledge receipt of the <a>Credit Score Notice</a>.
                </div>
            </div><!-- .row -->


            <input type="submit" value="Continue" class="button right" />

        </form>
    </div>
</template>

<script>
export default {
    name: 'Step4',

    data () {
        return {
        }
    },

    methods: {
        submitForm: function(event) {
            event.preventDefault();

            var component = this;

            // Show loading spinner
            component.$root.showSpinner();

            // If valid: simulate response time and load borrower app
            setTimeout(function() {

                // Load next step
                component.$dispatch('continue-to-next-step');

                // Hide loading spinner
                component.$root.hideSpinner();

            }, 1500);

            return false;
        }
    },

    ready: function() {

        // Store cookie
        var expiry = new Date();
        var minutes = 10;
        expiry.setTime(expiry.getTime() + (minutes * 60 * 1000));

        jQuery.removeCookie('cbl_auth');
        jQuery.cookie('cbl_auth', '{ "authorized": ["/borrow/step-4"] }', { expires: expiry });

        this.$parent.current_step = 4;
    }
}
</script>









