<style lang="sass">
#app .has-error.checkbox-input .error {
    margin-top: -0.5em;
    margin-bottom: 0;
    border-radius: 4px;
}
</style>

<template>
  <div class="checkbox-input">
    <input
      v-bind:id="id"
      type="checkbox"
      v-bind:name="id"
      v-bind:data-dummy="dummy"
      v-bind:value="1"
      v-model="current_value" />
    <label v-bind:for="id">{{ label }}</label>
    <small class="error">{{ error }}</small>
  </div>
</template>

<script>
export default {
  name: 'CheckboxInput',

  data () {
    return {
      current_value: ''
    }
  },

  props: [
    { name: 'label', default: 'Field' },
    { name: 'error', default: 'This field is required.' },
    { name: 'id',    default: 'field' },
    { name: 'value', default: '1' },
    { name: 'dummy', default: '1' }
  ],

  watch: {
    'current_value': function(val) {

        // This allows parent components to define an event
        // called "value_changed" which will fire when
        // the child component value is changed
        var component = this;
        this.$dispatch('value_changed', { 'id': component.id, 'value': val });
    }
  }
}
</script>