<template>
    <div class="row collapse">
        <label>{{ label }}
            <select
                v-bind:id="id"
                v-bind:name="id"
                v-bind:data-dummy="dummy"
                v-model="current_value">
                <option value="">{{ (placeholder) ? (placeholder) : (label) }}</option>
                <option disabled></option>
                <option v-for="option in options" v-bind:value="option.key">
                    {{ option.value }}
                </option>
            </select>
        </label>
        <small class="error">{{ error }}</small>
    </div>
</template>

<script>
export default {
  name: 'DropdownMenu',

  data () {
    return {
      'current_value': ''
    }
  },

  props: [
    { name: 'label',   default: 'Field' },
    { name: 'id',      default: 'field' },
    { name: 'dummy',   default: '' },
    { name: 'error',   default: 'Please fill out this field.' },
    { name: 'options', default: [] },
    { name: 'placeholder' }
  ],

  watch: {
    'current_value': function(val) {

        // This allows parent components to define an event
        // called "value_changed" which will fire when
        // the child component value is changed
        var component = this;
        this.$dispatch('value_changed', { 'id': component.id, 'value': val });
    }
  }
}
</script>