<style lang="sass">
@import '../../sass/settings';

#loading-spinner .overlay {
	display: table;
	position: fixed;
	// top: $header-height-large;
	top: 0;
	left: 0;
	width: 100%;
	height: 102%;
	overflow: hidden;
	padding: 0;
	margin: 0;
	z-index: 999;
	background-color: rgba(10, 10, 10, 0.7);

	.inner {
		display: table-cell;
		height: 100%;
		width: 100%;
		color: #000;
		vertical-align: middle;
		text-align: center;
		color: #FFF;

		p {
			font-size: 18pt;
			font-weight: bold;
			text-shadow: 0 0 5px #000;
		}
	}

	.spinner {
		animation: 1.5s linear 0s normal none infinite spin;
		background-image: url('../../images/spinner.png');
		background-size: 100% 100%;
		margin: 0 auto;
		height: 120px;
		width: 120px;
	}

	@-moz-keyframes spin { 
		from { -moz-transform: rotate(00deg); } 
		to { -moz-transform: rotate(360deg); }
	}

	@-webkit-keyframes spin {
		from {  -webkit-transform: rotate(0deg); }
		to {  -webkit-transform: rotate(360deg);  }
	}

	@keyframes spin {
		from { transform:rotate(0deg); }
		to { transform:rotate(360deg); }
	}
}
</style>

<template>
	<div id="loading-spinner">
		<div class="overlay" v-if="showSpinner()">
			<div class="inner">
				<div class="spinner"></div>

				<br />

				<p>Please wait...</p>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	name: 'LoadingSpinner',
	methods: {
		showSpinner: function() {
			return this.$parent.show_spinner
		}
	}
}
</script>









