<template>
    <nav role="navigation" v-bind:class="{ 'mobile': this.$parent.show_mobile_nav }">
        <ul>
            <li v-for="link in nav_links">
                <a v-bind:href="link.url">{{ link.label }}</a>
                <ul v-if="link.subnav">
                    <li v-for="sublink in link.subnav">
                        <a v-bind:href="sublink.url">{{ sublink.label }}</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</template>

<script>
export default {
    name: 'MainNavigation',
    data () {
        return {
            nav_links: [
                {
                    'label': 'Borrow',
                    'url': '#',
                    'subnav':
                    [
                        { 'label': 'How to Borrow', 'url': '#' },
                        { 'label': 'Who Can Borrow?', 'url': '#' },
                        { 'label': 'Loan Rates', 'url': '#' },
                        { 'label': 'Borrower Fees', 'url': '#' }
                    ]
                },
                {
                    'label': 'Buy Loans',
                    'url': '#'
                },
                {
                    'label': 'About Us',
                    'url': '#',
                    'subnav':
                    [
                        { 'label': 'Overview', 'url': '#' },
                        { 'label': 'Management Team', 'url': '#' },
                        { 'label': 'Advisors', 'url': '#' },
                        { 'label': 'Press', 'url': '#' },
                        { 'label': 'Contact', 'url': '#' },
                        { 'label': 'Jobs', 'url': '#' }
                    ]
                },
                {
                    'label': 'Loan Types',
                    'url': '#',
                    'subnav': [
                        { 'label': 'Home Buying', 'url': '#' },
                        { 'label': 'Car Financing', 'url': '#' },
                        { 'label': 'Major Purchase', 'url': '#' }
                    ]
                },
                {
                    'label': 'Sign In',
                    'url': '#'
                }
            ]
        }
    }
}
</script>