<template>
  <div class="text-input">
    <label>{{ label }}

      <input
        v-if="confirm"
        v-bind:type="getType()"
        v-bind:maxlength="max"
        v-bind:placeholder="label"
        v-model="current_value"
        v-bind:data-dummy="dummy"
        v-bind:pattern="getPattern()"
        @blur="checkForMatch" />

      <input
        v-else
        v-bind:type="getType()"
        v-bind:id="id"
        v-bind:name="id"
        v-bind:maxlength="max"
        v-bind:data-dummy="dummy"
        v-bind:placeholder="label"
        v-bind:pattern="getPattern()"
        @focus="handleFocus"
        @blur="handleBlur"
        v-model="current_value" />

    </label>
    <small class="error" v-if="error">{{ error }}</small>
  </div>
</template>

<script>
export default {
  name: 'TextInput',

  data () {
    return {
      current_value: ''
    }
  },

  props: [
    { name: 'label',   default: 'Field' },
    { name: 'id',      default: 'field' },
    { name: 'dummy',   default: '' },
    { name: 'type',    default: 'text' },
    { name: 'max',     default: 999 },
    { name: 'confirm', default: false },
    { name: 'error',   default: 'Please fill out this field.' }
  ],

  watch: {
    'current_value': function(val) {

        // This allows parent components to define an event
        // called "value_changed" which will fire when
        // the child component value is changed
        var component = this;
        this.$dispatch('value_changed', { 'id': component.id, 'value': val });
    }
  },

  methods: {
    handleFocus: function(event) {

      switch (this.type) {

        case 'money':
        case 'ssn':
          this.current_value = (this.current_value).split('.')[0].replace(/\D/g, '');

          setTimeout(function() {
            event.target.select();
            event.target.setSelectionRange(0, 9999);
          }, 100);

          break;
      }

      return false;
    },

    handleBlur: function(event) {
      event.preventDefault();

      switch (this.type) {

        case 'ssn':
          var new_value = this.current_value.replace(/\D/g, '');

          if (!isNaN(new_value) && (new_value.length >= 9)) {
            var digits = new_value.match(/^(\d{3})(\d{2})(\d{4})(\d*)$/);
            this.current_value = digits[1] + '-' + digits[2] + '-' + digits[3];
          } else {
            this.current_value = '';
          }

          break;

        case 'money':
          var new_value = this.current_value.replace(/\D/g, '');

          if (!isNaN(new_value)) {
            this.current_value = ('$' + new_value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ','));
          } else {
            this.current_value = '';
          }

          break;
      }

      return false;
    },

    checkForMatch: function() {
      $(this.$el).removeClass('has-error');

      if (this.confirm && $('#' + this.id).length) {
        if (this.current_value !== $('#' + this.id).val()) {
          $(this.$el).addClass('has-error');
        }
      }
    },

    getPattern: function() {
      switch (this.type) {
        case 'zip':
        case 'ssn':
        case 'money':
          return '[0-9]*';
        break;
      }

      return false;
    },

    getType: function() {
      var html_type = '';

      switch (this.type) {
        case 'money':
          html_type = 'text';
          break;

        case 'zip':
        case 'ssn':
          html_type = 'text';
          break;

        default:
          html_type = this.type;
          break;
      }

      return html_type;
    }
  }
}
</script>