<style lang="sass">
@import '../../../sass/settings';

.check {
    background-image: url(../../../images/check.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center center;
    height: 220px;
    margin: 0 auto;

    @media #{$small-only} {
        width: 340px;
        padding: 0.25em;
        height: 180px;
        max-width: 100%;
    }
}
</style>

<template>
    <form @submit="submitForm" novalidate>

        <h3>Bank Account <a style="font-size: 9pt" @click="$parent.fillDummyData">(Fill form)</a></h3>

        <p>Your money will be deposited into this account.</p>

        <hr class="clearfix buffer" />

        <div class="row">
            <div class="columns small-6">
                <text-input
                    label="First name"
                    id="fname"
                    dummy="Justin"
                    error="Please enter a valid first name."></text-input>
            </div>
            <div class="columns small-6 end">
                <text-input
                    label="Last name"
                    id="lname"
                    dummy="Holt"
                    error="Please enter a valid last name."></text-input>
            </div>
        </div><!-- .row -->

        <div class="row">
            <div class="columns large-5 medium-7 small-12">
                <div class="panel">
                    <div class="check"></div>
                </div>
            </div>
            <div class="columns large-7 medium-5 small-12">
                <text-input
                    label="Account number"
                    id="account_number"
                    dummy="1234567890"
                    error="Please enter a valid account number."></text-input>
                <text-input
                    label="Routing number"
                    id="routing_number"
                    dummy="9876543"
                    error="Please enter a valid routing number."></text-input>
                <dropdown-menu
                    label="Account type"
                    placeholder="Account type"
                    id="account_type"
                    error="Select an account type."
                    :options="account_types"></dropdown-menu>
                <text-input
                    label="Bank name"
                    id="bank_name"
                    dummy="Wells Fargo"
                    error="Please enter a valid bank."></text-input>
            </div>
        </div><!-- .row -->

        <br />
        
        <div class="panel">
            <div class="row">
                <div class="columns small-10 end">
                    <p>Clicking on this box constitutes your electronic signature to the authorization.</p>
                </div>
                <div class="columns small-10 end">
                    <checkbox-input
                        id="verify_bank_auth"
                        label="I authorize CircleBack Lending to verify my bank account."
                        error="You must check this box."></checkbox-input>
                </div>
            </div><!-- .row -->
        </div><!-- .panel -->

        <div class="buffer clearfix"></div>
        <div class="buffer clearfix"></div>

        <input type="submit" value="Continue" class="button right" />

    </form>
</template>

<script>
export default {
    name: 'Step5',

    data () {
        return {
            'account_types': [
                { key: 'checking', value: 'Checking Account' },
                { key: 'savings', value: 'Savings Account' },
            ]
        }
    },

    methods: {
        submitForm: function(event) {
            event.preventDefault();

            var component = this;

            // Show loading spinner
            component.$root.showSpinner();

            // If valid: simulate response time and load borrower app
            setTimeout(function() {

                // Hide loading spinner
                component.$root.hideSpinner();

                // Go to Thank You
                router.go('/borrow/thank-you');
            }, 1500);

            return false;
        }
    },

    ready: function() {

        // Store cookie
        var expiry = new Date();
        var minutes = 10;
        expiry.setTime(expiry.getTime() + (minutes * 60 * 1000));

        jQuery.cookie('cbl_auth', '{ "authorized": ["/borrow/step-5"] }', { expires: expiry });

        this.$parent.current_step = 5;
    }
}
</script>