<style lang="sass">
@import '../../../sass/settings';
</style>

<template>
    <div class="testimonials">

        <div class="clearfix buffer"></div>

        <div class="row">
            <div class="columns small-12 twelve text-center">
                <h3>Featured Borrowers</h3>
            </div>
        </div>

        <div class="clearfix buffer"></div>

        <div class="row">
            <div class="columns medium-5 medium-offset-1 small-12 six text-center">
                <h4>Joseph from New Mexico borrowed $16,500</h4>

                <p>"Working with CircleBack Lending was fast, easy, and I was treated with respect. Unlike other lenders who treated me like a number. I appreciated the customer service and helpfulness, and would recommend CircleBack to all my friends and family!"</p>
            </div>

            <div class="columns medium-5 small-12 six end text-center">

                <h4>Juanita from Alaska borrowed $20,000</h4>

                <p>"I want to thank you very much. You gave me the best customer service I had in a very long time and I am grateful for that."</p>

            </div>
        </div>

        <div class="clearfix buffer"></div>

        <div class="row">
            <div class="columns small-12 twelve text-center">
                <small><em>Testimonials reflect the individual's opinion and may not be illustrative of all individual experiences with CircleBack Lending.</em></small>
            </div>
        </div>

        <div class="clearfix buffer"></div>
    </div>
</template>

<script>
export default {
    name: 'Testimonials'
}
</script>





