<style lang="sass">
@import '../../../sass/settings';
</style>

<template>
    <div class="row" id="amount-selection">
        <div class="columns small-7 medium-5">
            <label class="inline bigger">I need to borrow...</label>
        </div>

        <div class="columns small-5 medium-7 end">
            <input type="text"
		           name="how_much"
                   id="how_much"
		           v-model="$root.borrow_amount"
		           @focus="convertMoneyToInt"
		           @blur="convertIntToMoney"
		           pattern="[0-9]*" />
        </div>
    </div>
</template>

<script>
export default {
	methods: {
		convertMoneyToInt: function(event) {
			this.$root.borrow_amount = this.getBorrowAmountClean();

            setTimeout(function() {
                event.target.select();
                event.target.setSelectionRange(0, 9999);
            }, 100);
		},

		convertIntToMoney: function(event) {
            var new_value = this.getBorrowAmountClean();
			// var new_value = Math.round(Math.abs(this.$root.borrow_amount.replace(/\D/g, '')));

			if (!isNaN(new_value)) {
                this.$root.borrow_amount = ('$' + new_value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ','));
            } else {
                this.$root.borrow_amount = this.$root.default_borrow_amount;
            }
		},

        getBorrowAmountClean: function() {
            return Math.abs((this.$root.borrow_amount).split('.')[0].replace(/\D/g, ''));
        }
	}
}
</script>



