<style lang="sass">
.credit-selection .button-group .button {
	height: 59px;

	.question-mark {
		&:after {
			font-style: normal;
			content: '\e085';
			display: block;
			font: normal 14px/15px 'glyphicons halflings';
			text-align: center;
			width: 100%;
		}
	}
}
</style>

<template>
	<div class="row clearfix credit-selection">
		<div class="columns large-12">
			<label class="bigger">How is your credit?</label>
		</div>
		<div class="columns large-12">
			<ul class="button-group even-5 toggle" required data-toggle="buttons-radio">
				<li v-for="level in credit_levels">

					<input type="radio"
						   tabindex="-1"
						   id="level_{{ $index }}"
						   value="{{ level.value }}"
						   name="credit"
						   @click="selectCreditLevel"
						   data-toggle="button">

					<label class="button secondary" for="level_{{ $index }}">
						{{ level.label }}
						<small>{{{ level.score }}}</small>
					</label>

				</li>
			</ul>
		</div>
	</div>
</template>

<script>
export default {
	data () {
		return {
			credit_rating: '',
			credit_levels: [
				{ value: 'poor', label: 'Poor', score: '&lt; 600' },
				{ value: 'fair', label: 'Fair', score: '600 - 660' },
				{ value: 'good', label: 'Good', score: '660 - 720' },
				{ value: 'excellent', label: 'Excellent', score: '720+' },
				{ value: 'not_sure', label: 'Not Sure', score: '<i class="question-mark"></i>' }
			]
		}
	},

	methods: {
		selectCreditLevel: function(event) {
			this.credit_rating = event.target.value;
		}
	}
}
</script>






