<style lang="sass">
@import '../../../sass/settings';

.row.hero {
	background-color: #333;
	background-image: url(../../../images/hero_bg.jpg);
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: center 20%;
	max-width: 100%;
	width: 100%;
	margin-top: -20px;

	.row {
		max-width: $row-width;
		margin: 0 auto;
	}

	.cta-form {
		background-color: #FFF;
		background: -moz-linear-gradient(top,  rgba(255,255,255,0.6) 0%, rgba(255,255,255,0.9) 100%);
		background: -webkit-linear-gradient(top,  rgba(255,255,255,0.6) 0%,rgba(255,255,255,0.9) 100%);
		background: linear-gradient(to bottom,  rgba(255,255,255,0.6) 0%,rgba(255,255,255,0.9) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99ffffff', endColorstr='#e6ffffff',GradientType=0 );
		padding: 10px 5px;
		border: 1px #DDD solid;
		box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
		margin: 1em auto 7em;
	}

	@media #{$large-up} {
		background-size: unset;
	}

	@media #{$medium-only} {
		background-size: 140% auto;
		background-position: center 30%;
	}

	@media #{$small-only} {
		background-size: auto 100%;
		background-position: center center;

		h4 {
			font-size: 22pt;
		}

		.cta-form {
			margin: 0 -1.5em 0.5em;
			box-shadow: 0 0 0 transparent;
			padding: 0.5em;
		}

		.button-group .button {
			font-size: 11px;
		}
	}
}
</style>

<template>
	<div class="row hero">
		<div class="columns small-12">
			<div class="row">
				<div class="columns large-5 medium-8 end">
					<div class="cta-form">

						<form @submit="submitForm" novalidate>
							<input type="hidden" name="borrower_app_step" value="1" />

							<h4 class="text-center">
								Personal loans from
								<br class="show-for-small-only" />
								<b>${{ min_loan_amount | format_int }}</b> to <b>${{ max_loan_amount | format_int }}</b>
							</h4>

							<br class="show-for-medium-up" />
							
							<amount-selection v-ref:amount></amount-selection>
							<purpose-selection v-ref:purpose></purpose-selection>
							<credit-selection v-ref:credit></credit-selection>

							<div class="text-center clearfix">
								<input type="submit" value="Check My Rate" class="button" />
							</div>
						</form>


					</div><!-- .cta-form -->
				</div>
			</div><!-- .row -->
		</div>
	</div><!-- .row.hero -->
</template>

<script>
import AmountSelection  from './AmountSelection';
import PurposeSelection from './PurposeSelection';
import CreditSelection  from './CreditSelection';

export default {
	name: 'CallToAction',

	data () {
		return {
			min_loan_amount: 3001,
			max_loan_amount: 35000
		}
	},

	methods: {

		// Converts formatted dollar amount ("$3,591") to rounded int (3591) and returns it
		getFormattedAmount: function() {
			if (this.$root.borrow_amount) {
				return parseInt((this.$root.borrow_amount).split('.')[0].replace(/\D/g, ''));
			}

			return false;
		},

		// Checks form data, returns true if valid
		isFormValid: function(data) {

			// Remove 'has-error' from all elements
			$('.has-error').removeClass('has-error');
			
			// Verifies amount exists and is in range
			if (data.amount < this.min_loan_amount || data.amount > this.max_loan_amount) {

				var elem = this.$refs.amount.$el;
				$(elem).addClass('has-error');

				return false;
			}

			if (!data.purpose.length) {
				var elem = this.$refs.purpose.$el;
				$(elem).addClass('has-error');

				return false;
			}

			if (!data.credit.length) {
				var elem = this.$refs.credit.$el;
				$(elem).addClass('has-error');

				return false;
			}

			return true;
		},

		submitForm: function(event) {
			event.preventDefault();

			var component = this;

			var data = {
				"amount": this.getFormattedAmount(),
				"purpose": this.$root.borrow_purpose || false,
				"credit": this.$refs.credit.credit_rating || false
			};

			if (!this.isFormValid(data)) {
				return false;
			}

			// Show loading spinner
			this.$root.showSpinner();

			setTimeout(function() {
		  		component.$root.hideSpinner();
	  			router.go('/borrow/step-1/');
  			}, 1500);

			return false;
		}
	},

	components: {
		AmountSelection,
		PurposeSelection,
		CreditSelection
	}
}


</script>









