<template>
	<div class="row purpose-selection">
		<div class="columns large-12">
			<label class="bigger">What is it for?</label>
		</div>

		<div class="columns large-12">
			<ul class="button-group button-group-small toggle even-3">
				<li>
					<label class="button secondary"
						@click="clickPurposeOption(0)"
						v-bind:class="{ 'selected': getIsSelected(0) }">
						{{ loan_purposes[0].label }}
					</label>
				</li>
				<li>
					<label class="button secondary"
						@click="clickPurposeOption(1)"
						v-bind:class="{ 'selected': getIsSelected(1) }">
						{{ loan_purposes[1].label }}
					</label>
				</li>
				<li>
					<select class="button-select" tabindex="-1" @change="changeOptionOtherPurpose">
						<option v-for="purpose in loan_purposes"
								v-if="($index > 1)"
								v-bind:value="purpose.name"
								data-purpose-index="{{ $index }}">
							{{ purpose.label }}
						</option>
					</select>
					<label class="button secondary with-arrow"
						data-label="More Options..."
						v-bind:class="{ 'selected': (this.selected_purpose_index > 1) }">
						{{ getMoreOptionsLabel() }}
					</label>
				</li>
			</ul>
		</div>
	</div>
</template>

<script>
var more_options_default_label = 'More Options...';

export default {

	data () {
		return {
			selected_purpose_index: false,
			loan_purposes: [
			    { name: 'DebtConsolidation', label: 'Debt Consolidation' },
			    { name: 'MajorPurchase', label: 'Major Purchase' },
			    { name: 'HomeImprovement', label: 'Home Improvement' },
			    { name: 'CreditCardRefi', label: 'Credit Card Refinancing' },
			    { name: 'HomeBuying', label: 'Home Buying' },
			    { name: 'Car', label: 'Car Financing' },
			    { name: 'GreenLoan', label: 'Green Loan' },
			    { name: 'Business', label: 'Business' },
			    { name: 'Vacation', label: 'Vacation' },
			    { name: 'Moving', label: 'Moving And Relocation' },
			    { name: 'Medical', label: 'Medical Expenses' },
			    { name: 'Other', label: 'Other' }
			]
		}
	},

	computed: {
		selected_purpose: function() {
			return (this.selected_purpose_index >= 0) ? this.loan_purposes[this.selected_purpose_index].label : false;
		}
	},

	methods: {
		getMoreOptionsLabel: function() {
			if (this.selected_purpose_index > 1) {
				return this.loan_purposes[this.selected_purpose_index].label;
			}

			return more_options_default_label;
		},

		getIsSelected: function(index) {
			return (index === this.selected_purpose_index);
		},

		clickPurposeOption: function(index) {
			if (index === this.selected_purpose_index) return false;

			this.deselectAll();
			this.setOption(index);
			return false;
		},

		changeOptionOtherPurpose: function(event) {
			this.deselectAll();

			var elem = $(event.target);
			var selected_option = elem.find('option:selected');
			var index = selected_option.data('purpose-index');

			this.setOption(index);
		},

		setOption: function(index) {
			this.selected_purpose_index = index;

			// Store in root
			this.$root.borrow_purpose = this.selected_purpose;
		},

		deselectAll: function() {
			$('.purpose-selection .button.selected').removeClass('selected');
		}
	}
}
</script>




