<template>
	<div id="borrower-app-account">

		<p>Creating an account allows you to access the borrower portal, where you can find important resources.</p>

		<hr class="clearfix buffer" />

		<div class="row">
			<div class="columns large-4 medium-6">
				<text-input label="Email address"
					id="email"
					dummy="test@circlebacklending.com"
					error="Please enter a valid email address.">
			</div>

			<div class="columns large-4 medium-6 end">
				<text-input label="Retype email address"
					dummy="test@circlebacklending.com"
					confirm="true"
					id="email"
					error="Please confirm your email address.">
			</div>

			<div class="columns medium-12">
				<small class="info">We use your email address to contact you. You will use your email address to sign in to your account.</small>
			</div>
		</div><!-- .row -->

		<br />

		<div class="row">
			<div class="columns large-4 medium-6">
				<text-input type="password"
					label="Password"
					id="password"
					dummy="test1234"
					error="Please enter a valid password.">
			</div>
			<div class="columns large-4 medium-6 end">
				<text-input type="password"
					label="Retype password"
					dummy="test1234"
					confirm="true"
					id="password"
					error="Please confirm your password.">
			</div>
			<div class="columns medium-12">
				<small class="info">Your password must be 8 characters or more and include at least one number.</small>
			</div>
		</div>
		
		<input type="button" value="Continue" class="button right" @click="loadNextForm" />
		
	</div>
</template>



<script>
export default {
	name: 'Account',

	methods: {
		isValid: function() {
			$('.has-error').removeClass('has-error');

			// Each 'text-input' and 'dropdown-menu' is a Vue
			// component in array this.$children, in order of appearance
			var email = (this.$children[0]);
			var confirm_email = (this.$children[1]);
			var password = (this.$children[2]);
			var confirm_password = (this.$children[3]);
			var required = 4;

			if (!email.$data.current_value.length) {
				$(email.$el).addClass('has-error');
			} else {
				required--;
			}

			if (!confirm_email.$data.current_value.length
				  || (confirm_email.$data.current_value !== email.$data.current_value)) {
				$(confirm_email.$el).addClass('has-error');
			} else {
				required--;
			}

			if (!password.$data.current_value.length) {
				$(password.$el).addClass('has-error');
			} else {
				required--;
			}

			if (!confirm_password.$data.current_value.length
				  || (confirm_password.$data.current_value !== password.$data.current_value)) {
				$(confirm_password.$el).addClass('has-error');
			} else {
				required--;
			}

			if (required === 0) {
				
				/* Store these values in the parent component */
				this.$parent.email_address	= email.$data.current_value;
				this.$parent.password		= password.$data.current_value;

				return true;
			}

			return false;
		},
		loadNextForm: function(event) {
			event.preventDefault();

			if (this.isValid()) {
				this.$parent.loadNextSection('d');
			}

			return false;
		}
	}
}
</script>















