<template>
	<div id="borrower-app-income-dob-ssn">

		<p>Please provide us with the following information to check your custom <b v-if="$root.borrow_purpose">{{ $root.borrow_purpose }}</b> loan rate.</p>

		<hr class="clearfix buffer" />

		<div class="row">
			<div class="columns medium-12">
				<div class="row collapse">
					<label>Date of birth</label>
				</div>
			</div>

			<div class="columns medium-4 small-6">
				<div class="row collapse">
					<dropdown-menu
						label=""
						placeholder="Month"
						id="dob_month"
						error="Select a month."
						:options="months">
				</div>
			</div>

			<div class="columns medium-3 small-3">
				<div class="row collapse">
					<dropdown-menu
						label=""
						placeholder="Day"
						id="dob_day"
						error="Select a day."
						:options="days">
				</div>
			</div>

			<div class="columns medium-3 small-3 end">
				<div class="row collapse">
					<dropdown-menu
						label=""
						placeholder="Year"
						id="dob_year"
						error="Select a year."
						:options="years">
				</div>
			</div>
		</div><!-- .row -->

		<div class="row">
			<div class="columns medium-4 small-6">
				<text-input type="ssn" label="SSN" max="12" id="ssn" dummy="666-12-3456" error="Please enter a valid SSN.">
			</div>
			<div class="columns medium-4 small-6 end">
				<text-input type="money" label="Annual income" id="income" dummy="$40,000" error="Please enter a valid amount.">
			</div>
		</div><!-- .row -->
		
		<input type="button" value="Continue" class="button right" @click="loadNextForm" />
	</div>

</template>



<script>
export default {
	name: 'IncomeDOBSSN',
	
	data () {
		return {
			months: this.$root.months,
			days: this.$root.days,
			years: this.$root.years
		}
	},

	methods: {
		isValid: function() {
			$('.has-error').removeClass('has-error');

			// Each 'text-input' and 'dropdown-menu' is a Vue
			// component in array this.$children, in order of appearance

			var month = (this.$children[0]);
			var day = (this.$children[1]);
			var year = (this.$children[2]);
			var ssn = (this.$children[3]);
			var income = (this.$children[4]);

			var required = 5;

			if (!month.$data.current_value) {
				$(month.$el).addClass('has-error');
			} else {
				required--;
			}

			if (!day.$data.current_value) {
				$(day.$el).addClass('has-error');
			} else {
				required--;
			}

			if (!year.$data.current_value) {
				$(year.$el).addClass('has-error');
			} else {
				required--;
			}

			if (!ssn.$data.current_value.length) {
				$(ssn.$el).addClass('has-error');
			} else {
				required--;
			}

			if (!income.$data.current_value.length) {
				$(income.$el).addClass('has-error');
			} else {
				required--;
			}

			if (required === 0) {
				
				/* Store these values in the parent component */
				this.$parent.dob_month	= month.$data.current_value;
				this.$parent.dob_day	= day.$data.current_value;
				this.$parent.dob_year	= year.$data.current_value;
				this.$parent.ssn		= ssn.$data.current_value;
				this.$parent.income		= income.$data.current_value;

				return true;
			}

			return false;
		},
		loadNextForm: function(event) {
			event.preventDefault();

			if (this.isValid()) {
				this.$parent.loadNextSection('c');
			}

			return false;
		}
	}
}
</script>








