<template>
	<form @submit="submitForm" novalidate>
		<h3>Check Your Rate <a style="font-size: 9pt" @click="$parent.fillDummyData">(Fill form)</a></h3>

		<input type="hidden" name="borrower_app_step" value="2" />

		<!-- Content loaded based on route defined in main.js -->
		<router-view transition="fade" transition-mode="out-in" keep-alive></router-view>
	</form>
</template>

<script>
export default {
	name: 'Step1',

    data () {
        return {
            // Part A (NameAddress)
            fname: '',
            lname: '',
            street: '',
            city: '',
            state: '',
            zip: '',

            // Part B (IncomeDobSsn)
            dob_month: '',
            dob_day: '',
            dob_year: '',
            ssn: '',
            income: '',

            // Part C (Account)
            email_address: '',
            password: '',

            // Part D (Legal)
            terms_of_use: false,
            arb_agreement: false,
            credit_auth: false
        }
    },

	methods: {

		loadNextSection: function(part) {
            var component = this;
            
            component.$parent.$parent.showSpinner();

			setTimeout(function() {
                component.$parent.$parent.hideSpinner();
				router.go('/borrow/step-1/' + part);
			}, 800);
		},

		isFormValid: function() {
            if (!this.fname.length) {
                return false;
            }
            if (!this.lname.length) {
                return false;
            }
            if (!this.street.length) {
                return false;
            }
            if (!this.city.length) {
                return false;
            }
            if (!this.state.length) {
                return false;
            }
            if (!this.zip.length) {
                return false;
            }
            if (!this.dob_month > 0) {
                return false;
            }
            if (!this.dob_day > 0) {
                return false;
            }
            if (!this.dob_year > 0) {
                return false;
            }
            if (!this.ssn.length) {
                return false;
            }
            if (!this.income.length) {
                return false;
            }
            if (!this.email_address.length) {
                return false;
            }
            if (!this.password.length) {
                return false;
            }
            if (!this.terms_of_use > 0) {
                return false;
            }
            if (!this.arb_agreement > 0) {
                return false;
            }
            if (!this.credit_auth > 0) {
                return false;
            }

			return true;
		},

		submitForm: function(event) {
			event.preventDefault();

			var component = this;
            var form_data = this.getFormData();


            // For right now ... need a way to load data from
            // local storage or something



			// if (!component.isFormValid()) {
            // console.warn ('Validation BorrowerApp/Step1/Index failed.')
			// 	return false;
			// }

            

			console.log ('Submitting form on BorrowerAppStep1');
            console.log (form_data);

	  		// Show loading spinner
			component.$root.showSpinner();

			setTimeout(function() {

    			var response = [
                    {
                      'term': 36,
                      'rate': 9.17,
                      'apr': 11.26,
                      'offers': [
                        { 'loan_id': 1, 'loan_amount': 5555, 'monthly_payment': 177.09 },
                        { 'loan_id': 2, 'loan_amount': 6110, 'monthly_payment': 194.78 },
                        { 'loan_id': 3, 'loan_amount': 6666, 'monthly_payment': 212.50 }
                      ]
                    },
                    {
                      'term': 60,
                      'rate': 10.46,
                      'apr': 14.04,
                      'offers': [
                        { 'loan_id': 4, 'loan_amount': 5555, 'monthly_payment': 127.33 },
                        { 'loan_id': 5, 'loan_amount': 6110, 'monthly_payment': 140.05 },
                        { 'loan_id': 6, 'loan_amount': 6666, 'monthly_payment': 152.80 }
                      ]
                    }
                  ];
    			
    			// Store response
    			component.$parent.loan_options.push(response);

    			// Hide loading spinner
    	  		component.$root.hideSpinner();

    	  		// Load borrower app step
      			component.$dispatch('continue-to-next-step');

			}, 1500);

			return false;
		},

        getFormData: function() {
            return {
                // Part A (NameAddress)
                fname: this.fname,
                lname: this.lname,
                street: this.street,
                city: this.city,
                state: this.state,
                zip: this.zip,

                // Part B (IncomeDobSsn)
                dob_month: this.dob_month,
                dob_day: this.dob_day,
                dob_year: this.dob_year,
                ssn: this.ssn,
                income: this.income,

                // Part C (Account)
                email_address: this.email_address,
                password: this.password,

                // Part D (Legal)
                terms_of_use: this.terms_of_use,
                arb_agreement: this.arb_agreement,
                credit_auth: this.credit_auth
            };
        }
	},

	ready: function() {

		// Store cookie
        jQuery.removeCookie('cbl_auth');
		var expiry = new Date();
 		var minutes = 10;
		expiry.setTime(expiry.getTime() + (minutes * 60 * 1000));

		jQuery.cookie('cbl_auth', '{ "authorized": ["/borrow/step-1/", "/borrow/step-1/b", "/borrow/step-1/c", "/borrow/step-1/d"] }', { expires: expiry });

		// Extra assurance that breadcrumbs are correct
		this.$parent.current_step = 1;
	}
}
</script>
