<style lang="sass">
label .label-link {
	position: absolute;
}

#app .has-error .error {
    position: absolute;
    margin-top: 2em;
    text-transform: initial;
}
</style>

<template>
	<div id="borrower-app-legal">

		<p>By checking each box, you have read and agree to the following:</p>
		
		<div class="row">
			<div class="columns small-12 medium-4">
				<checkbox-input
					id="terms_of_use"
					label="Terms of Use"
					error="You must check this box."></checkbox-input>
			</div>

			<div class="columns small-12 medium-4">
				<checkbox-input
					id="arbitration_agreement"
					label="Arbitration Agreement"
					error="You must check this box."></checkbox-input>
			</div>

			<div class="columns small-12 medium-4 end">
				<checkbox-input
					id="credit_auth"
					label="Credit Profile Authorization"
					error="You must check this box."></checkbox-input>
			</div>
		</div><!-- .row -->

		<div class="buffer clearfix"></div>
		<div class="buffer clearfix"></div>

		<input type="submit" value="Next Step" @click="checkForm" class="button right" />
	</div>

</template>



<script>
export default {
	name: 'Legal',
	
	data () {
		return {
			terms_of_use: 0,
			arb_agreement: 0,
			credit_auth: 0
		}
	},

	methods: {
		checkForm: function(event) {
			// event.preventDefault();

			return true;
			
			$('.has-error').removeClass('has-error');

			var terms_of_use = (this.$children[0]);
			var arb_agreement = (this.$children[1]);
			var credit_auth = (this.$children[2]);
			
			var required = 3;

			if (terms_of_use.$data.current_value !== 1) {
				$(terms_of_use.$el).addClass('has-error');
			} else {
				required--;
			}

			if (arb_agreement.$data.current_value !== 1) {
				$(arb_agreement.$el).addClass('has-error');
			} else {
				required--;
			}

			if (credit_auth.$data.current_value !== 1) {
				$(credit_auth.$el).addClass('has-error');
			} else {
				required--;
			}

			return true;

			if (required === 0) {
				
				/* Store these values in the parent component */
				this.$parent.terms_of_use	= terms_of_use.$data.current_value;
				this.$parent.arb_agreement	= arb_agreement.$data.current_value;
				this.$parent.credit_auth	= credit_auth.$data.current_value;

				return true;
			}

			return false;
		}
	}
}
</script>



