<template>
	<div id="borrower-app-name-address">

		<p>Let's check your custom <b v-if="$root.borrow_purpose">{{ $root.borrow_purpose }}</b> loan rate for <b>{{ $root.borrow_amount }}</b>. To help you get the best rate, please tell us about yourself.</p>

		<hr class="clearfix buffer" />

		<div class="row">
			<div class="columns medium-4 small-5 four">
				<text-input
					label="First name"
					id="fname"
					dummy="Justin"
					error="Please enter a valid first name."></text-input>
			</div>
			<div class="columns medium-6 small-7 six end">
				<text-input
					label="Last name"
					id="lname"
					dummy="Holt"
					error="Please enter a valid last name."></text-input>
			</div>
		</div>
		<div class="row">
			<div class="columns medium-8 eight end">
				<text-input
					label="Street address"
					id="street"
					dummy="716 Vine St"
					error="Please enter a valid street address."></text-input>
			</div>
		</div><!-- .row -->

		<div class="row">
			<div class="columns medium-5 five">
				<text-input
					label="City"
					id="city"
					dummy="Scottsdale"
					error="Please enter a valid city."></text-input>
			</div>
			<div class="columns medium-3 small-6 two">
				<dropdown-menu
					label="State"
					id="state"
					error="Please select a state"
					:options="states"></dropdown-menu>
			</div>
			<div class="columns medium-4 small-6 three end">
				<text-input
					type="zip"
					label="Zip"
					id="zip"
					dummy="60521"
					max="5"
					error="Please enter a valid zip code."></text-input>
			</div>
		</div><!-- .row -->

		<input type="button" value="Continue" class="button right" @click="loadNextForm" />
	</div>

</template>


<script>
export default {
	name: 'NameAddress',

	data () {
		return {
			states: this.$root.us_states
		}
	},

	methods: {
		isValid: function() {
			$('.has-error').removeClass('has-error');

			// Each 'text-input' and 'dropdown-menu' is a Vue
			// component in array this.$children, in order of appearance
			var fname = (this.$children[0]);
			var lname = (this.$children[1]);
			var street = (this.$children[2]);
			var city = (this.$children[3]);
			var state = (this.$children[4]);
			var zip = (this.$children[5]);
			var required = 6;

			if (!fname.$data.current_value.length) {
				$(fname.$el).addClass('has-error');
			} else {
				required--;
			}

			if (!lname.$data.current_value.length) {
				$(lname.$el).addClass('has-error');
			} else {
				required--;
			}

			if (!street.$data.current_value.length) {
				$(street.$el).addClass('has-error');
			} else {
				required--;
			}

			if (!city.$data.current_value.length) {
				$(city.$el).addClass('has-error');
			} else {
				required--;
			}

			if (!state.$data.current_value.length) {
				$(state.$el).addClass('has-error');
			} else {
				required--;
			}

			if (!zip.$data.current_value.length) {
				$(zip.$el).addClass('has-error');
			} else {
				required--;
			}

			if (required === 0) {
				
				/* Store these values in the parent component */
				this.$parent.fname	= fname.$data.current_value;
				this.$parent.lname	= lname.$data.current_value;
				this.$parent.street	= street.$data.current_value;
				this.$parent.city	= city.$data.current_value;
				this.$parent.state	= state.$data.current_value;
				this.$parent.zip	= zip.$data.current_value;

				return true;
			}

			return false;
		},
		loadNextForm: function(event) {
			event.preventDefault();

			if (this.isValid()) {
				this.$parent.loadNextSection('b');
			}

			return false;
		}
	}
}
</script>
