<style lang="sass">

/*
 *  This is the only view that should include "_base.scss".
 *  Other components should load "_settings.scss" so they
 *  have access to global variables.
 */

@import 'src/sass/base';
</style>

<template>
    <div id="app">
        <main-header></main-header>

        <!-- Content loaded based on route defined in main.js -->
        <router-view transition="fade" transition-mode="out-in" keep-alive></router-view>

        <main-footer></main-footer>
        <loading-spinner></loading-spinner>
    </div>
</template>

<script>
import MainHeader from './components/Partials/MainHeader';
import MainFooter from './components/Partials/MainFooter';
import LoadingSpinner from './components/Partials/LoadingSpinner';

export default {
    components: {
        MainHeader,
        MainFooter,
        LoadingSpinner
    },

    data () {
        return {
            show_spinner: false,
            default_borrow_amount: '$4,500',
            borrow_amount: '$4,500',
            borrow_purpose: 0,
            months: require("./months.json"),
            us_states: require("./us_states.json")
        }
    },

    computed: {
        days () {
            var days = [];
            for (var i = 1; i < 32; i++) {
                days.push({ key: i, value: i });
            }
            return days;
        },
        years () {
            var years = [];
            var current_year = new Date().getFullYear();
            for (var i = current_year; i > 1900; i--) {
                years.push({ key: i, value: i });
            }
            return years;
        }
    },

    methods: {
        showSpinner: function() {
            this.show_spinner = true;
        },
        hideSpinner: function() {
            this.show_spinner = false;

            $(window).scrollTop(0);
        }
    }
}
</script>







