<style lang="sass">
@import '../../sass/settings';

.breadcrumbs-nav-wrapper {
	margin-top: 42px;
	padding: 20px 0;
	background-color: #F7F7F7;
	border: 1px #D0D0D0 solid;

	@media #{$small-only} {
		margin-top: 16px;
		padding: 0;
		background-color: transparent;
		border: 0 transparent solid;
	}

	.breadcrumbs-nav-track {
		border-left: 2px #999 solid;
		position: relative;
		margin-top: 32px;
		margin-left: 34px;
		height: 126px;
		transition: opacity 500ms;
		@include opacity(0);

		&.show {
			@include opacity(1);
			height: 126px;
		}

		@media #{$small-only} {
			display: none;
		}
	}

	.breadcrumbs-nav {
		list-style: none;
		padding: 0;
		margin: 0;
		height: 180px;
		display: block;
		position: relative;
		margin: -154px -2px 0 34px;

		@media #{$small-only} {
			display: block;
			position: static;
			margin: 10px 0 0 0;
			height: auto;
		}

		li {
			display: block;
			padding: 0 0 0 24px;
			margin: 0;
			height: 36px;
			line-height: 36px;
			color: #999;
			font-size: 11px;
			transition: all 200ms ease-in;
			@include opacity(0);

			.circle {
				height: 18px;
				width: 18px;
				border-radius: 50%;
				background-color: #e3e3e3;
				border: 2px #999 solid;
				position: absolute;
				margin: 10px 0 0 -32px;
			}

			&.show {
				@include opacity(1);
			}

			&.complete {
				color: #12935a;
				font-size: 12px;
				font-weight: bold;

				.circle {
					border-color: #12935a;
				}

				.circle:after {
					content: "\e013";
					display: block;
					position: absolute;
				    font-family: 'glyphicons halflings';
				    font-size: 10px;
				    margin: -7px 0 0 6px;
				}
			}

			&.in-progress {
				color: $cbl-orange;
				font-size: 12px;
				font-weight: bold;

				.circle {
					border-color: $cbl-orange;
				}

				.circle:after {
					content: "\270f";
					display: block;
					position: absolute;
				    font-family: 'Glyphicons Halflings';
				    font-size: 13px;
				    margin: -7px 0 0 5px;
				}
			}

			&.complete, &.in-progress {
				text-shadow: 0 0 4px #FFF;

				.circle {
					background-color: #FFF;
					height: 26px;
					width: 26px;
					margin: 5px 0 0 -37px;
				}
			}

			@media #{$small-only} {
				$mobile-font-size: 11px;

				width: 19%;
				display: inline-block;
				padding: 0;
				margin: 0;
				height: 60px;
				text-align: center;
				overflow: hidden;
				font-size: $mobile-font-size;
				line-height: $mobile-font-size;
				transition: all 0.5s linear;
				vertical-align: top;
			
				&.complete,
				&.in-progress {
					font-size: $mobile-font-size;
					transition: all 0.5s linear;
				}
				
				.circle,
				&.complete .circle,
				&.in-progress .circle {
					position: static;
					margin: 0 auto 5px;
					height: 32px;
					width: 32px;
					transition: height,width 0.5s linear;

					&:after {
						margin: 8px 0 0 6px;
						font-size: 15px;
					}
				}
			} /* @media $small-only */

		}
	} /* .breadcrumbs-nav */
} /* .breadcrumbs-nav-wrapper */
</style>

<template>
	<div class="breadcrumbs-nav-wrapper">
		<div class="breadcrumbs-nav-track" v-bind:class="{ 'show': isReady }"></div>
		<ul class="breadcrumbs-nav pull-right">
			<li v-for="step in appSteps"
				v-bind:class="{ 'in-progress': isInProgress(step.index), 'complete': isComplete(step.index) }">
				<div class="circle"></div> {{ step.label }}
			</li>
		</ul>
	</div>
</template>

<script>
export default {
	name: 'Breadcrumbs',

	data () {
		return {
			appSteps: [
				{ index: 1, label: 'Check Your Rate' },
				{ index: 2, label: 'Choose Your Rate' },
				{ index: 3, label: 'Additional Details' },
				{ index: 4, label: 'Loan Terms' },
				{ index: 5, label: 'Bank Account' }
			]
		}
	},

	methods: {
		isInProgress: function(index) {
			return (index === this.$parent.current_step);
		},

		isComplete: function(index) {
			return (index < this.$parent.current_step);
		}
	},

	ready: function() {
		$('.breadcrumbs-nav-track').addClass('show');

		$('.breadcrumbs-nav li').each(function(i) {
			var b = $(this);

			setTimeout(function() {
				b.addClass('show')
			}, 220*i + 150);
		});
	}
}
</script>















