<style lang="sass">
@import '../../sass/settings';

@media #{$small-only} {
	.main-body {
		margin-top: 62px;
	}
	
	.sidebar {
	    position: absolute;
	    top: $header-height-small;
	    left: 0;
	    float: none;
	}
}
</style>

<template>
	<div class="row">

		<div class="columns medium-9 main-body">
			<!-- Content loaded based on route defined in main.js -->
			<router-view transition="fade" transition-mode="out-in" keep-alive></router-view>
		</div><!-- .main-body -->

		<div class="columns medium-3 sidebar">
			<breadcrumbs transition="fade" transition-mode="out-in"></breadcrumbs>
		</div><!-- .sidebar -->

	</div><!-- .row -->
</template>

<script>
import Breadcrumbs from './Breadcrumbs';

export default {
	name: 'BorrowerApp',

	data () {
		return {
			current_step: 1,
			loan_options: []
		}
	},

	events: {
		'continue-to-next-step': function(step) {
			this.current_step += 1;
			router.go({
				path: '/borrow/step-' + this.current_step
			});
		}
	},

	methods: {
		fillDummyData: function(event) {
			event.preventDefault();

			var form = $(event.target).parents('form').first();
			var fields = form.find('[data-dummy]').not('[data-dummy=""]');

			for (var i = 0; i < fields.length; i++) {
				this.fillDummyValue($(fields[i]));
			}
		},

		fillDummyValue: function(field) {
			field.val(function() {
				return $(this).attr('data-dummy');
			});
		}
	},

	components: {
		Breadcrumbs
	}

}
</script>
